.card-bg-image {
  position: absolute;
  width: 630px;
  height: auto;
  bottom: 0;
  right: 0;
  z-index: 1;
}

.starting-content {
  position: relative;
  z-index: 2;
}

.getting-started-hero-card .card-body {
  position: relative;
}

.abp-logo,
.logo-x {
  background-size: contain;
  background-repeat: no-repeat;
}

.abp-logo {
  height: 30px;
}

.abp-support {
  width: 178px;
  background-image: url('/assets/images/getting-started/abp-support.svg');
}

.abp-community {
  width: 215px;
  background-image: url('/assets/images/getting-started/abp-community.svg');
}

.abp-blog {
  width: 142px;
  background-image: url('/assets/images/getting-started/abp-blog.svg');
}

.logo-x {
  width: 20px;
  height: 20px;
  background-image: url('/assets/images/getting-started/x.svg');
}

:host-context(.lpx-theme-dark) {
  .abp-support {
    background-image: url('/assets/images/getting-started/abp-support-white.svg');
  }

  .abp-community {
    background-image: url('/assets/images/getting-started/abp-community-white.svg');
  }

  .abp-blog {
    background-image: url('/assets/images/getting-started/abp-blog-white.svg');
  }

  .logo-x {
    background-image: url('/assets/images/getting-started/x-white.svg');
  }
}

@media (min-width: 1199px) {
  .h-lg-100 {
    height: 100% !important;
  }
}

@media (min-width: 768px) {
  .h-md-100 {
    height: 100% !important;
  }
}
